.answers-history {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

select{
  width: 60px;
  height: 28px;
  border-radius: 5px;
  text-align: center;
}

.contract-summary__title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.question{
  font-size: 15px ;
  margin: 0 20px 20px 10px;
  max-width: 60%;
}

.contract-summary__table {
  tr td {
    font-size: 16px;
  }

  td {
    padding-right: 16px;
  }

  tr td:first-child {
    white-space: nowrap;
    padding-right: 16px;
  }
}

.td0 {
  font-weight: 700;
}

//.td8 {
//  background-color: lightcoral;
//}
