<div class="answers-history" *ngIf="contract">
  <div class="form-group">
    <label for="question-select"> Выберите вопрос: </label>
    <select [(ngModel)]="selectedNumber" id="question-select" #select1 (change)="onQestionIdChanged(select1.value)">
      <option *ngFor="let item of numbersArray" value="{{item}}">{{item}} </option>
    </select>
    <br>
  </div>
  <div class="form-group">
    <button class="app-button" [disabled]="question_id === 1"
            (click)="onQestionValueChanged(question_id - 1)">Предыдущий
    </button>
    &nbsp;
    <button class="app-button" [disabled]="question_id === 20"
            (click)="onQestionValueChanged(question_id + 1)">Следующий
    </button>
  </div>
  <div *ngIf="question" class="form-group question">
    <span>{{question.question}}?</span>
    <br>
    <br>
    <div *ngFor="let item of variants; index as i">
      <span>{{item}}</span>
    </div>

    <div class="form-group question">
      <br>
      <span class="td0">Правильный ответ: {{question.right_variant}}</span>
    </div>

  </div>

  <table class="contract-summary__table">
    <tr *ngFor="let item of data; index as i">
      <td class="{{'td'+i}}">{{i === 0 ? 'Выбранный ответ' : 'Ответ'}}:</td>
      <td class="{{'td'+i}}">{{ item.current_value}}</td>
      <td class="{{'td'+i}}">Время ответа:</td>
      <td class="{{'td'+i}}">{{ item.created_at}}</td>
    </tr>
  </table>

</div>

<!--<app-tab-loader *ngIf="loading"></app-tab-loader>-->
