<div class="auth-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      Рекомендуемое время для тестирования составляет 20 минут. Ко всем вопросам можно будет вернуться. Вопросы можно помечать, что позволит перейти к следующему вопросу без ответа на текущий вопрос. 
    </p>
    <p>
      <label for="name">Введите вашу фамилию и имя:</label><br>
      <input formControlName="name" id="name" name="name" type="text"  placeholder="">
    </p>

    <p>
      <button type="submit" >Начать тестирование</button>
    </p>

    <p style="margin-left:-500px">
     <!-- <label for="email">Email</label><br>-->
      <input formControlName="email" id="email" name="email" type="email" placeholder="Your Email">
    </p>

<!--    <p>
      <input type="submit" value="Submit">
    </p>-->


    <p style="margin-left:-500px">
      <input formControlName="phone" id="phone" name="phone"  type="text" placeholder="Your Phone">
    </p>
    <p style="margin-left:-500px">
      <input formControlName="organization" id="organization" name="organization" type="text" placeholder="Your Organization">
    </p>
    <p style="margin-left:-500px">
      <input formControlName="address" id="address" name="address" type="text" placeholder="Your Address">
    </p>

<!--    <p style="margin-left:-500px">-->
<!--      <input formControlName="password" id="password" name="password" type="text" placeholder="Your password">-->
<!--    </p>-->

    <p style="margin-left:-500px">
      <input formControlName="password" id="password" name="password" type="text" placeholder="Your password">
    </p>

    <p style="margin-left:-500px">
      <input formControlName="postal" id="postal" name="postal" type="text" placeholder="Your Postal Code">
    </p>
    <p style="margin-left:-500px">
      <input formControlName="city" id="city" name="city" type="text" placeholder="Your City">
    </p>
    <p style="margin-left:-500px">
      <input formControlName="country" name="country"><option value="">
    </p>

<!--    <p style="margin-left:-500px">-->
<!--      <input formControlName="cc_number" type="text" name="cc_number">-->
<!--    </p>-->
<!--    <p style="margin-left:-500px">-->
<!--      <input formControlName="cc_month" name="cc_month" id="cc_month">-->

<!--      <input formControlName="cc_year" name="cc_year" id="cc_year">-->
<!--    </p>-->
<!--    <p style="margin-left:-500px">-->
<!--      <input formControlName="cc_cvv" type="text" id="cc_cvv" name="cc_cvv">-->
<!--    </p>-->

  </form>

<!--  <p>Pre:</p>-->
<!--  <pre>-->
<!--  {{ request | json }}-->
<!--</pre>-->



</div>

