/*
:host {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  input{
    margin-bottom: 10px;
    color: black;
  }
  font-family: "Comic Sans MS";

}
.auth-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
  background-color: #242536;
}
.container {
  max-width: 800px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}
#button{
  width: 100%;
    height: 40px !important;
    padding: 4px  !important;
  border: none;
  background-color: #04707e;
}
h3{
  color: #242536;
  margin-bottom: 15%;
  margin-top: 10%;
}

#back {

}

!* You can add global styles to this file, and also import other style files *!
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  border-bottom-width: 0 !important;
  th {
    text-align: center !important;
    word-wrap: anywhere !important;
    margin-bottom: 0 !important;
    @media (max-width: 1919px) {
      padding: 2px 2px 8px 2px !important;
    }
  }
  .tr-item {
    text-align: center !important;
  }

}

tbody {
  tr:nth-child(odd) {
    background-color: #f1f1f6;
    border-color: #f1f1f6;
  }
}

input, select {
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  line-height: 1.42857143;
  padding: 1px 0px 1px 4px;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: #495057;
  min-height: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

select, textarea {
  color: #495057;
  // min-width: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.content-wrapper__header{
  margin-top: 3px ;
}
.page-select {
  max-width: 100px !important;
}

.pages {
  min-width: 250px;
  display: flex;
  //justify-content: space-between;
  margin: 3px 0 0 20px;
}
.title__text{
  font-weight: bold;
}

.content-wrapper__header{
  min-height: 43px;
  display: flex;
  justify-content: space-between;
}

.addbutton {
  text-align: right;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

input.ng-invalid.ng-touched  {
  border-color: #d20000 !important;
}

select.ng-invalid.ng-touched  {
  border-color: #d20000 !important;
}

p-dropdown.ng-invalid.ng-touched .p-dropdown {
  border: 1px solid #d20000 !important;
}

.tr-item_cursor:hover {
  cursor: default !important;
}

.tr-item_cursor {
  padding-bottom: 15px !important;
}

.app-button {
  max-width: 180px;
  max-height: 40px;
}

.row-orientation {
  text-align: center;
  margin: 0 auto;
  max-width: 360px;
}

fieldset.form-group {
  max-height: 46px;
  width: 100%;
  margin-bottom: 15px;
  input {
    width: 100%;
    padding: 5px;
  }
}
}

*/

.auth-page_text {
  margin: 0 auto ;
  width: 40%;
  text-align: justify;

  p {
    text-align: justify;

  }
  label, input {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .auth-page_text {
    width: 90%;
    margin: 10px ;
    label, input {
      margin-bottom: 15px;
    }
  }
}
