<div class="test-wrapper">

  <div>
    <fieldset>
      <div class="form-group">
        <app-question
          [question]=model.getQuestion(model.selectedQuestionIndex)
          (questionIndexChanged)= questionChanged()
        ></app-question>
      </div>

      <div class="form-cols">
        <div class="form-col">
          <app-answer (itemClick)="submit($event)" [questionIndex]="model.selectedQuestionIndex"
                      [selected]="model.getSelectedAnswer(model.selectedQuestionIndex)" [num]="1"
                      [answer]=model.getQuestion(model.selectedQuestionIndex)?.variant1></app-answer>
        </div>
        <div class="form-col">
          <app-answer (itemClick)="submit($event)" [questionIndex]="model.selectedQuestionIndex"
                      [selected]="model.getSelectedAnswer(model.selectedQuestionIndex)" [num]="2"
                      [answer]=model.getQuestion(model.selectedQuestionIndex)?.variant2></app-answer>
        </div>
      </div>

      <div class="form-cols">
        <div class="form-col">
          <app-answer (itemClick)="submit($event)" [questionIndex]="model.selectedQuestionIndex"
                      [selected]="model.getSelectedAnswer(model.selectedQuestionIndex)" [num]="3"
                      [answer]=model.getQuestion(model.selectedQuestionIndex)?.variant3></app-answer>
        </div>
        <div class="form-col">
          <app-answer (itemClick)="submit($event)" [questionIndex]="model.selectedQuestionIndex"
                      [selected]="model.getSelectedAnswer(model.selectedQuestionIndex)" [num]="4"
                      [answer]=model.getQuestion(model.selectedQuestionIndex)?.variant4></app-answer>
        </div>
      </div>

      <div class="form-cols">
        <div class="form-col">
          <app-answer (itemClick)="submit($event)" [questionIndex]="model.selectedQuestionIndex"
                      [selected]="model.getSelectedAnswer(model.selectedQuestionIndex)" [num]="5"
                      [answer]=model.getQuestion(model.selectedQuestionIndex)?.variant5></app-answer>
        </div>
        <div class="form-col">
          <app-answer (itemClick)="submit($event)" [questionIndex]="model.selectedQuestionIndex"
                      [selected]="model.getSelectedAnswer(model.selectedQuestionIndex)" [num]="6"
                      [answer]=model.getQuestion(model.selectedQuestionIndex)?.variant6></app-answer>
        </div>
      </div>

    </fieldset>
  </div>


  <div class="buttons-wrapper">
    <button class="app-button" type="button" (click)="previousQuestion()" [disabled]="model.isFirstQuestion()">
      Предыдущий
    </button>
    <button class="app-button app-button_red" type="button" (click)="finishTest()">
      Завершить тестирование
    </button>
    <button class="app-button" type="button" (click)="nextQuestion()" [disabled]="model.isLastQuestion()">Следующий
    </button>
  </div>

<!--<div>[disabled]="!model.isAllQuestionsTouched(model.getDataArrayLength()-1) || isLoading || testIsOver"</div>-->


</div>
