<div
  [ngClass]="{
      'd-none': isLoading,
      'd-block': !isLoading
      }"
  class="dashboard-outer-wrapper">

  <!--Header-->
   <app-header *ngIf="!isProduction"></app-header>

  <!--Content-->
  <div class="dashboard-inner-wrapper">

    <div class="dashboard-inner-wrapper__left-block">
      <!--Sidebar-->
      <app-sidebar>
        <app-countdown [model]="model"></app-countdown>
        <br>
        <button
          class="app-button"
          [ngClass]="{'disabled': model.getQuestion()?.come_back_id &&
          model.getQuestion()?.come_back_id === 1}"
          (click)="markQuestion(model.selectedQuestionIndex)">
          {{model.getQuestion()?.come_back_id? 'Снять метку' : 'Пометить вопрос'}}
        </button>
      </app-sidebar>


    </div>

    <div class="dashboard-inner-wrapper__right-block">
      <!--Content-->
      <div class="dashboard-content">
        <app-test-layout [model]="model" ></app-test-layout>
      </div>
    </div>
  </div>


  <app-footer>
    <mc-pagination
      [model]="model"
      [total]="20"
      [currentPage]="model.selectedQuestionIndex"
      [limit]="1"
      (newItemEvent)="handleCurrentPage($event)"
    ></mc-pagination>

  </app-footer>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center">
  <app-loading></app-loading>
</div>
