body{
  min-height: 100%;
}

/* You can add global styles to this file, and also import other style files */
.dashboard-outer-wrapper {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  //padding: 5px;
  //padding-top: 20px;
 // border: 1px solid yellow;
  min-height: 98vh;
}

.dashboard-inner-wrapper {
  display: flex;
  flex-direction: row;
 // border: 1px solid black;
  height: 100%;
  flex: 0 1 auto;
}

.dashboard-inner-wrapper__left-block {
  margin-right: 25px;
  max-width: 225px;
  width: 100%;
  //flex-shrink: 0;
  order: 1;
  //max-width: 100%;
  //border: 1px solid blue;
}

.dashboard-inner-wrapper__right-block {
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  order: 2;
 // border: 1px solid green;
  height: 100%;
}

.dashboard-content {
  grid-area: content;
  background-color: #FFF;
  border-radius: 4px;
  padding: 20px 0;
  //// border: 1px solid #d6d6d6;
  //height: 100%;
  min-height: 700px;
  flex: 1 1 auto;
  height: 100%;
 // border: 1px solid red;
}

app-mobile-panel {
  display: none;
}

@media (max-width: 767px) {

  app-mobile-panel {
    display: initial;
  }

  app-header {
    display: none;
  }

  .dashboard-outer-wrapper {
    padding-top: 70px;
  }

  .dashboard-inner-wrapper__left-block {
    order: 2;
    max-width: 100%;
  }

  .dashboard-inner-wrapper {
    flex-direction: column;
  }

  .dashboard-content {
    height: 100%;
  }

}

.form-cols {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.form-col {
  width: 100%;
  //border: 1px solid black;
}

.app-button{
  background-color: #0e5a83;
  padding: 7px 15px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: box-shadow .1s;
  border: 1px solid darken(#0e5a83, 3%);
  white-space: nowrap;
  text-overflow: ellipsis;
}

button:disabled {
  background-color: #85959f;
  border: 1px solid darken(#85959f, 3%);
}

button.disabled {
  background-color: #85959f !important;
  border: 1px solid darken(#85959f, 3%) !important;
}

.app-button_red{
  background-color: #811038;
  border: 1px solid darken(#811038, 3%);
}

fieldset{
  border-radius: 6px;
  border: 1px solid #d2d2d2;
}

