<div class="content-wrapper">
  <div class="container">
    <div class="container-table">
      <app-data-table [columns]="columns"
                      [showFilters]="true"
                      [perPage] = 25
                      [items]="data"
                      (selectedItemChange) = onRowSelected($event)
      ></app-data-table>

    </div>

    <div class="container-tabs">

      <app-tabs>

        <app-tab header="Информация">
          <ng-template>
            <app-contract-summary [contract]=selectedRow></app-contract-summary>
          </ng-template>
        </app-tab>

        <app-tab header="История вопросов">
          <ng-template>
            <app-answers-history [contract]=selectedRow></app-answers-history>
          </ng-template>
        </app-tab>

      </app-tabs>

    </div>
  </div>

</div>
